<header class="app-header">
  <div class="logo">
    <a class="title" routerLink="/">{{appName}}</a>
    <p class="test-message">نسخة تجريبية</p>
  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <p>
    تعتني صفحة {{appName}} بحمع ما دخل على لغة العرب -فصيحها وعاميها- من الألفاظ الأعجمية
    <br>
    للاطلاع على كود برمجة الصفحة في <a class="nav-link" href="https://github.com/raedazzahrani/Aajamiyat">القتهب</a>
    <br>
    حقوق أصحاب المراجع محفوظة لأصحابها
  </p>
</footer>