:host {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 1rem;
}

/* CARD STYLE */
app-contribute-card,
.entry-card,
.filters-panel {
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
}



.entries-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.entries-header button.mobile-filters {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.entries-header .flex-message {
  text-align: center;
}

/* Entries list stacked vertically */
.entries-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* Entry card */
.entry-card {
  text-decoration: none;
  display: flex;
  gap: 3rem;
  padding: 1.5rem;
  transition: var(--hover-transition);
}

.entry-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--card-shadow-hover);
}



.entry-card .core-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.entry-name {
  font-size: 1.4rem;
  color: #111827;
}

.origin {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.badges {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.badge {
  background-color: #eef2ff;
  color: #3730a3;
  border-radius: 999px;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}

.examples,
.meanings {
  font-size: 0.85rem;
  color: #444;
  line-height: 1.4;
}

/* Sidebar */
.filters-panel {
  flex: 0 0 220px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}



.filter-section h3 {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #111827;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.clear-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.clear-btn:hover {
  background: #dc2626;
}

@media (max-width: 1200px) {
  :host {
    grid-template-columns: 200px 1fr 200px;
  }
}


/* Mobile Responsive */
@media (max-width: 1024px) {

  :host {
    grid-template-columns: 1fr 200px;
  }

  .right-panel {
    display: none;
  }

  

}

@media (max-width: 480px) {

  .entry-card {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  .badges {
    flex-direction: row;
  }

  :host {
    grid-template-columns: 1fr;
  }

  .left-panel {
    display: none;
  }

}

@media (min-width: 480px) {
  .entries-header .mobile-filters {
    display: none;
  }
}